// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #e2ebf3;
}


.container {
  width: 500px;
  margin: 15px auto;
}

li {
  cursor: pointer;
}

.closed {
  color: red;
  text-decoration: line-through;
}